<div class="login">
    <div class="container">


        <form name="form" id="form" method="POST" action=".">
            <div class="col-md-6 login-do1 animated wow fadeInLeft" data-wow-delay=".5s">
    {% csrf_token %}
                <div class="login-mail">
        {{ form.username }}
                    <i class="glyphicon glyphicon-envelope"></i>
    </div>

                <div class="login-mail">
        {{ form.password }}
                    <i class="glyphicon glyphicon-lock"></i>
    </div>

                <a class="news-letter " href="#">
                    <label class="checkbox1"><input type="checkbox" name="checkbox"><i> </i>Forgot Password</label>
                </a>

            </div>
            <div class="col-md-6 login-do animated wow fadeInRight" data-wow-delay=".5s">
                <label class="hvr-sweep-to-top login-sub">
                    <input type="submit" value="Login">
                </label>
                <p>Do not have an account?</p>
                <a href="#" class="hvr-sweep-to-top">Signup</a>
            </div>

            <div class="clearfix"></div>


        </form>

    </div>
</div>
<div class="social animated wow fadeInUp" data-wow-delay=".1s">
    <div class="container">
        <div class="col-sm-3 social-ic">
            <a href="#">FACEBOOK</a>
        </div>
        <div class="col-sm-3 social-ic">
            <a href="#">TWITTER</a>
        </div>
        <div class="col-sm-3 social-ic">
            <a href="#">GOOGLE+</a>
        </div>
        <div class="col-sm-3 social-ic">
            <a href="#">PINTEREST</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>