{% extends "base.html" %}

{% block title %} Home {% endblock title %}

{% block content %}
    {% if request.user.is_authenticated and request.user.customer %}
    <!-- меню с вкладками -->
    <ul id="menu">
        <li id="goods" class="tab_active" onclick="tab(this);">Profile</li>
        <li id="exam" onclick="tab(this);">Discounts</li>
        <li id="students" onclick="tab(this);">Products</li>

    </ul>

    <!-- контейнер со страницами -->
    <div id="container">
        <div id="goods_content">
            <div class="row" style="padding-left:50px!important;">
                <div class="blog-post">
                    <h2>{{ user.user.username }} </h2>
                    <table class="table table-hover">
                        <tr>
                            <td><b>Photo</b></td>
                            <td><img src="{{ user.photo.url }}" height="200px"></td>
                        </tr>
                        <tr>
                            <td><b>First name</b></td>
                            <td>{{ user.user.first_name }}</td>
                        </tr>
                        <tr>
                            <td><b>Last name</b></td>
                            <td>{{ user.user.last_name }}</td>
                        </tr>
                        <tr>
                            <td><b>Email</b></td>
                            <td>{{ user.user.email }}</td>
                        </tr>
                        <tr>
                            <td><b>Date joined</b></td>
                            <td>{{ user.user.date_joined }}</td>
                        </tr>
                        <tr>
                            <td><b>Location</b></td>
                            <td>{{ user.location }}</td>
                        </tr>
                        <tr>
                            <td><b>Short bio</b></td>
                            <td>{{ user.bio }}</td>
                        </tr>
                        <tr>
                            <td><b>Contact number</b></td>
                            <td>{{ user.phone }}</td>
                        </tr>
                    </table>
                </div><!-- /.blog-post -->
            </div><!-- /.row -->
        </div>

        <div id="exam_content">
            <div class="row" style="padding-left:50px!important;">
                <div class="blog-post">
                    <h2>Discount</h2>
                    <table class="table table-hover">
                        <tr class="student_list">
                            <td>Product name</td>
                            <td>Category</td>
                            <td>Price</td>
                            <td>Code</td>
                        </tr>
                        {% for discount in discounts %}
                            <tr>

                                <td>{{ discount.product.name }} </td>
                                <td>{{ discount.product.category }} </td>
                                <td>{{ discount.product.price }} </td>
                                <td>{{ discount.code }} </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div><!-- /.blog-post -->
            </div><!-- /.row -->
        </div>


    </div>
    {% else %}
        <p>You need be authorized as customer to view this page.</p>
    {% endif %}

{% endblock content %}