<div class="row">
    {% if messages %}
        <div class="messages">
            {% for msg in messages %}
                <div class="alert alert-{{ msg.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    {{ msg.message }}
                </div>
            {% endfor %}
        </div>

    {% endif %}
</div>