{% extends "base.html" %}
{% load static %}
{% block content %}

    {% if request.user.is_authenticated and request.user.staff %}

    <main>
        <section class="registr-form">
            <div id="customer"></div>
            <hr>
            <form id="form" class="form-horizontal form" style="margin-bottom: 40px;" enctype="multipart/form-data"
                  method="POST" action="">{% csrf_token %}


                <div class="form_item login_f" id="user_field" style="display: block">
                    {{ form.user.errors }}
                    {{ form.user.label_tag }}
                    {{ form.user }}
                    {% if form.user.help_text %}
                        <p class="help">{{ form.user.help_text|safe }}</p>
                    {% endif %}
                </div>

                <input class="btn btn-primary btn-lg" id="elem" type="button" style="width: 200px" value="Find"/>

                <script> elem.onclick = function () {
                    var user = document.getElementById('id_user').value;
                    if (user) {
                        document.getElementById('user_field').style.display = "none";
                        document.getElementById('elem').style.display = "none";
                        document.getElementById('product_field').style.display = "block";
                        document.getElementById('submit_button').style.display = "block";
                        //document.querySelector('.results').innerHTML = user;
                        $.get('/discount/customer_info/', {user_id: user}, function (data) {
                            document.querySelector('#customer').innerHTML = "<table border='2' class='table'><thead><tr><th>First name</th><th>Last name</th><th>Email</th><th>Location</th><th>Phone</th><th>Photo</th></tr></thead>" + "<tbody><tr scope='row'><td>" + data['first_name'] + "</td><td>" + data['last_name'] + "</td><td>" + data['email'] + "</td><td>" + data['location'] + "</td><td>" + data['phone'] + "</td><td><img id='myimage' height='100' width='100' src='" + data['photo'] + "' ></td></tr></tbody></table>";
                        });
                    }
                };</script>

                <div class="form_item login_f" id="product_field" style="display: none">
                    {{ form.product.errors }}
                    {{ form.product.label_tag }}
                    {{ form.product }}
                    {% if form.product.help_text %}
                        <p class="help">{{ form.product.help_text|safe }}</p>
                    {% endif %}
                </div>

                <div class="button-log-in reg-btn">
                    <input class="btn btn-success btn-lg" value="Set discount" id="submit_button"
                           style="display: none; width: 200px" type="submit"/>
                </div>
            </form>


        </section>
    </main>

    {% else %}
        <p>You need be authorized as staff member to view this page.</p>
    {% endif %}

{% endblock content %}


{% block footer %}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    {{ form.media }}
{% endblock %}

