{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Classic Style | Home</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- //for-mobile-apps -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!-- js -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- //js -->
    <!-- cart -->
    <script src="{% static 'js/simpleCart.min.js' %}"></script>
    <!-- cart -->
    <!-- for bootstrap working -->
    <script type="text/javascript" src="{% static 'js/bootstrap-3.1.1.min.js' %}"></script>
    <!-- //for bootstrap working -->
    <!-- animation-effect -->
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script>
        new WOW().init();
    </script>
    <!-- //animation-effect -->
    <link href='//fonts.googleapis.com/css?family=Cabin:400,500,600,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="header">
    <div class="header-grid">
        <div class="container">
            <div class="header-left animated wow fadeInLeft" data-wow-delay=".5s">
                <ul>
                    <li><i class="glyphicon glyphicon-headphones"></i><a href="#">24x7 live support</a></li>
                    <li><i class="glyphicon glyphicon-envelope"></i><a href="mailto:info@example.com">@example.com</a>
                    </li>
                    <li><i class="glyphicon glyphicon-earphone"></i>+1234 567 892</li>

                </ul>
            </div>
            <div class="header-right animated wow fadeInRight" data-wow-delay=".5s">
                <div class="header-right1 ">
                    <ul>
                        {% if request.user.is_authenticated %}
                            <li><i class="glyphicon glyphicon-log-in"></i><a href="{% url 'login:logout' %}">Logout</a>
                            </li>
                        {% else %}

                            <li><i class="glyphicon glyphicon-log-in"></i><a href="{% url 'login:login' %}">Login</a>
                            </li>

                        {% endif %}

                    </ul>
                </div>
                <div class="header-right2">
                    <div class="cart box_1">
                        <a href="">
                            <h3>
                                <div class="total">
                                    <span class="simpleCart_total"></span> (<span id="simpleCart_quantity"
                                                                                  class="simpleCart_quantity"></span>
                                    items)
                                </div>
                                <img src="{% static 'images/cart.png' %}" alt=""/>
                            </h3>
                        </a>
                        <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="container">
        <div class="logo-nav">

            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header nav_2">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse"
                            data-target="#bs-megadropdown-tabs">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand logo-nav-left ">
                        <h1 class="animated wow pulse" data-wow-delay=".5s"><a
                                href="index.html">Classic<span>Style</span></a></h1>
                    </div>

                </div>
                <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="index.html" class="act">Home</a></li>
                        <!-- Mega Menu -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Women <b class="caret"></b></a>
                            <ul class="dropdown-menu multi">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <ul class="multi-column-dropdown">
                                            <h6>Submenu1</h6>

                                            <li><a href="">Accessories</a></li>
                                            <li><a href="">Bags</a></li>
                                            <li><a href="">Caps & Hats</a></li>
                                            <li><a href="">Hoodies & Sweatshirts</a></li>

                                        </ul>
                                    </div>
                                    <div class="col-sm-4">
                                        <ul class="multi-column-dropdown">
                                            <h6>Submenu2</h6>
                                            <li><a href="">Jackets & Coats</a></li>
                                            <li><a href="">Jeans</a></li>
                                            <li><a href="">Jewellery</a></li>
                                            <li><a href="">Jumpers & Cardigans</a></li>
                                            <li><a href="">Leather Jackets</a></li>
                                            <li><a href="">Long Sleeve T-Shirts</a></li>

                                        </ul>
                                    </div>
                                    <div class="col-sm-4">
                                        <ul class="multi-column-dropdown">
                                            <h6>Submenu3</h6>
                                            <li><a href="">Shirts</a></li>
                                            <li><a href="">Shoes, Boots & Trainers</a></li>
                                            <li><a href="">Sunglasses</a></li>
                                            <li><a href="">Sweatpants</a></li>
                                            <li><a href="">Swimwear</a></li>
                                            <li><a href="">Trousers & Chinos</a></li>

                                        </ul>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="row-top">
                                    <div class="col-sm-6 row1">
                                        <a href=""><img src="{% static 'images/me.jpg' %}" alt=""
                                                        class="img-responsive"></a>
                                    </div>
                                    <div class=" col-sm-6 row2">
                                        <a href=""><img src="{% static 'images/me1.jpg' %}" alt=""
                                                        class="img-responsive"></a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Men <b class="caret"></b></a>
                            <ul class="dropdown-menu multi multi1">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <ul class="multi-column-dropdown">
                                            <h6>Submenu1</h6>

                                            <li><a href="">Accessories</a></li>
                                            <li><a href="">Bags</a></li>
                                            <li><a href="">Caps & Hats</a></li>
                                            <li><a href="">Hoodies & Sweatshirts</a></li>

                                        </ul>
                                    </div>
                                    <div class="col-sm-4">
                                        <ul class="multi-column-dropdown">
                                            <h6>Submenu2</h6>
                                            <li><a href="">Jackets & Coats</a></li>
                                            <li><a href="">Jeans</a></li>
                                            <li><a href="">Jewellery</a></li>
                                            <li><a href="">Jumpers & Cardigans</a></li>
                                            <li><a href="">Leather Jackets</a></li>
                                            <li><a href="">Long Sleeve T-Shirts</a></li>

                                        </ul>
                                    </div>
                                    <div class="col-sm-4">
                                        <ul class="multi-column-dropdown">
                                            <h6>Submenu3</h6>
                                            <li><a href="#">Shirts</a></li>
                                            <li><a href="#">Shoes, Boots & Trainers</a></li>
                                            <li><a href="#">Sunglasses</a></li>
                                            <li><a href="#">Sweatpants</a></li>
                                            <li><a href="#">Swimwear</a></li>
                                            <li><a href="#">Trousers & Chinos</a></li>

                                        </ul>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="row-top">
                                    <div class="col-sm-6 row1">
                                        <a href="#"><img src="{% static 'images/me2.jpg' %}" alt=""
                                                         class="img-responsive"></a>
                                    </div>
                                    <div class=" col-sm-6 row2">
                                        <a href="#"><img src="{% static 'images/me3.jpg' %}" alt=""
                                                         class="img-responsive"></a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </ul>
                        </li>

                        <li><a href="#"> Codes</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </nav>
        </div>

    </div>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->


<div>
    <!-- /.container -->
</div>

<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">

        {% if messages %}
            <div class="messages">
                {% for msg in messages %}
                    <div class="alert alert-{{ msg.tags }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        {{ msg.message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}    {% endblock content %}
    </div><!--/row-->


    <hr>

    <footer>
        <div class="footer">
            <div class="container">
                <div class="footer-top">
                    <div class="col-md-9 footer-top1">
                        <h4>Duis aute irure dolor in reprehenderit in voluptate </h4>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse.Excepteur sint occaecat
                            cupidatat
                            non proident Duis aute irure dolor in reprehenderit in voluptate velit esse</p>
                    </div>
                    <div class="col-md-3 footer-top2">
                        <a href="#">Contact Us</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="footer-grids">
                    <div class="col-md-4 footer-grid animated wow fadeInLeft" data-wow-delay=".5s">
                        <h3>About Us</h3>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse.<span>Excepteur sint occaecat cupidatat
						non proident, sunt in culpa qui officia deserunt mollit.</span></p>
                    </div>
                    <div class="col-md-4 footer-grid animated wow fadeInLeft" data-wow-delay=".6s">
                        <h3>Contact Info</h3>
                        <ul>
                            <li><i class="glyphicon glyphicon-map-marker"></i>1234k Avenue, 4th block, <span>New York City.</span>
                            </li>
                            <li class="foot-mid"><i class="glyphicon glyphicon-envelope"></i><a
                                    href="mailto:info@example.com">info@example.com</a></li>
                            <li><i class="glyphicon glyphicon-earphone"></i>+1234 567 567</li>
                        </ul>
                    </div>
                    <div class="col-md-4 footer-grid animated wow fadeInLeft" data-wow-delay=".7s">
                        <h3>Sign up for newsletter </h3>
                        <form>
                            <input type="text" placeholder="Email" required="">
                            <input type="submit" value="Submit">
                        </form>

                    </div>

                    <div class="clearfix"></div>
                </div>

                <div class="copy-right animated wow fadeInUp" data-wow-delay=".5s">
                    <p>&copy 2016 Classic Style. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

</div><!--/.container-->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'js/bootstrap.js' %}"></script>

{% block footer %}

{% endblock %}
</body>
</html>

